@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
    url('../fonts/opensans/opensans.woff2') format('woff2'), 
    url('../fonts/opensans/opensans.woff') format('woff'), 
    url('../fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), 
    url('../fonts/opensans/opensansitalic.woff2') format('woff2'), 
    url('../fonts/opensans/opensansitalic.woff') format('woff'), 
    url('../fonts/opensans/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}